[Desktop Entry]
Name=Print PDF
Comment=A tool to create PDFs
Exec=/usr/local/bin/print-pdf
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Utility;